<!-- views/partials/header.ejs -->

<h1>Movie And Book App</h1>
    <nav class="navigation">
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/new"> Search For Movie</a>
        </li>
        <li><a href="/book"> Show My Portfolio</a>
        </li>
      </ul>
    </nav>
  