<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head') %>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    </head>
    <body>
        <style>
            body{
                background-color: black;
            }
            </style>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <br>
          <div class="section__content teamy-team">
            <article class="teamy teamy_style2 teamy_mask-circle">
              <div class="teamy__layout">
                <div class="teamy__preview">
                  <img src="https://r1.ilikewallpaper.net/iphone-wallpapers/download/79059/joker-2019-movie-iphone-wallpaper-ilikewallpaper_com.jpg" class="teamy__avatar" alt="The demo photo">
                </div>
                <div class="teamy__back">
<p>Lorem ifuga perspiciatis fugiat corporis itaque nulla iusto ad nobis nihil dolore labore!</p>
                </div>
              </div>
              <div class="teamy__content">
                <h3 class="teamy__name">Ahmad</h3>
                <span class="teamy__post">Graphic Designer</span>
              </div>
            </article>
            <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-photo">
              <div class="teamy__layout">
                <div class="teamy__preview">
                  <img src="https://wallpapercave.com/wp/wp4935322.jpg"class="teamy__avatar" alt="The demo photo">
                </div>
                <div class="teamy__back">
                  <p>Lorem ipsum dolora distinctio dolorum recusandae doloremque, cum incidunt ipsum iusto. Quos, in excepturi? Velit?</p>
                </div>
              </div>
              <div class="teamy__content">
                <h3 class="teamy__name">Rashid</h3>
                <span class="teamy__post">HR-manager</span>
              </div>
            </article>
            <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-rotate-photo">
              <div class="teamy__layout">
                <div class="teamy__preview">
                  <img src="https://wallpapers.moviemania.io/phone/movie/7555/093eac/rambo-phone-wallpaper.jpg?w=1536&h=2732"class="teamy__avatar" alt="The demo photo">
                </div>
                <div class="teamy__back">
                  <div class="teamy__back-inner">
                    <p>Lore\esse ipsum ad officia. In ipsa accusamus consequatur provident nemo rerum earum?</p>
                  </div>
                </div>
              </div>
              <div class="teamy__content">
                <h3 class="teamy__name">Raed</h3>
                <span class="teamy__post">Illustrator</span>
              </div>
            </article>
            <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
              <div class="teamy__layout">
                <div class="teamy__preview">
                  <img src="https://i.pinimg.com/originals/21/fa/58/21fa582c3b0f50082d0b3a3a50ea5338.jpg" class="teamy__avatar" alt="The demo photo">
                </div>
                <div class="teamy__back">
                  <div class="teamy__back-inner">
                    <p>Lorem ipsum dolor sit aos. Placeat ea laborum molestias facilis iusto porro deleniti eaque, nemo laboriosam deserunt?</p>
                  </div>
                </div>
              </div>
              <div class="teamy__content">
                <h3 class="teamy__name">Qusai</h3>
                <span class="teamy__post">Photographer</span>
              </div>
            </article>
          </div>
        </div>
      </section>