<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
  <header>
    </header>
  <style>
    body {
      background-color: black;
    }
  </style>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <br>

  <br><br><br><br><br><br>
  <div class="section__content teamy-team">
    <article class="teamy teamy_style2 teamy_mask-circle">
      <div class="teamy__layout">
        <div class="teamy__preview">
          <img src="https://ca.slack-edge.com/TNGRRLUMA-UPV5DC5QR-f6941f373001-512" class="teamy__avatar"
            alt="The demo photo">
        </div>
        <div class="teamy__back">
          <p>I am 23 years of complete weirdness in so many levels, Electrical power engineering Hater, a
            Photographer/Filmmaker, interested in Films, the other 6 arts, sports, hiking, video games and tech, even
            though i suck in them, like i said i am so weird like Chandler Bing, i am good with people even though i
            hate them, i hate cocky people.</p>
        </div>
      </div>
      <div class="teamy__content">
        <h3 class="teamy__name">Ahmad</h3>
        <span class="teamy__post">Software Developer</span>
      </div>
    </article>
    <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-photo">
      <div class="teamy__layout">
        <div class="teamy__preview">
          <img src="https://ca.slack-edge.com/TNGRRLUMA-UPQ95P0RG-05fc47badeac-512" class="teamy__avatar"
            alt="The demo photo">
        </div>
        <div class="teamy__back">
          <p>Rashid Al-Sawalqa , 25 years old , I have a Bachelor's degree in Sports Therapy,
            I love video games and bodybuilding sport. I prefer the healthy food on fast food. I have a passion for creative design , such as
            editing videos with music, photography, graphic design, drawing, and writing novels.</p>
        </div>
      </div>
      <div class="teamy__content">
        <h3 class="teamy__name">Rashid</h3>
        <span class="teamy__post">Software Developer</span>
      </div>
    </article>
    <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-rotate-photo">
      <div class="teamy__layout">
        <div class="teamy__preview">
          <img src="https://ca.slack-edge.com/TNGRRLUMA-UPRJE01CK-5c7c19ac8ddb-512" class="teamy__avatar"
            alt="The demo photo">
        </div>
        <div class="teamy__back">
          <div class="teamy__back-inner">
            <p> I am 24 years old i graduated from tafila technical university bachelor in mining engineering i love
              coding since i starting to study it in home starting with python and Linux system especially when i
              working on problem-solving, i love to listen to music and watch movies</p>
          </div>
        </div>
      </div>
      <div class="teamy__content">
        <h3 class="teamy__name">Raed</h3>
        <span class="teamy__post">Software Developer</span>
      </div>
    </article>
    <article class="teamy teamy_style2 teamy_mask-circle teamy_zoom-slide-photo">
      <div class="teamy__layout">
        <div class="teamy__preview">
          <img src="https://ca.slack-edge.com/TNGRRLUMA-UPRJDVA8K-936356e5f6e9-512" class="teamy__avatar"
            alt="The demo photo">
        </div>
        <div class="teamy__back">
          <div class="teamy__back-inner">
            <p>I am 22 years old, I majored in Civil Engineering from Tafila Technical University (TTU)
              I never thought I will learn this path (software development)
              But now I feel excited, so that I hope to be a great programming developer.</p>
          </div>
        </div>
      </div>
      <div class="teamy__content">
        <h3 class="teamy__name">Qusai</h3>
        <span class="teamy__post">Software Developer</span>
      </div>
    </article>
  </div>
  </div>
  </section>
  <div  data-aos="fade-up-left">
    <a href="/" class="btn-Mov-R"> Back </a><br>
</div >