<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section>
        <ul>
            <%for(let i=0 ; output.length>i ; i++) {%>
                <li>
                    <img src="<%=output[i].image_url%>" alt="">
                </li>
             <%}%>
        </ul>
    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>