<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <section>
        <ul>
            <%let check = []%>
            <%for(let i=0 ; output.length>i ; i++) {%>
                <%if(!(check.includes(output[i].image_url))){%>
                    <%check.push(output[i].image_url)%>
                    <li>
                    <img src="<%=output[i].image_url%>" alt="">
                </li>
                    <%}%>
             <%}%>
        </ul>
    </section>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>